.full-width {
    width: 100%;
}

.login-form {
    width: 25%;
}

.button-row {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-div {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    margin: 10px auto;
}

.bottom-div {
    position: absolute;
    bottom: 15%;
}