<div class="main-div">
  <mat-card class="login-form center" flex="50">
    <mat-toolbar color="primary">
      <h2><span>Sign In</span></h2>
    </mat-toolbar>
    <mat-card-content>
      <form [formGroup]="_loginForm">
        <mat-form-field class="full-width">
          <!-- Se crea el campo Input para el email con su respectivo enlace de FormControl y Matcher. -->
          <input matInput type="email" required [formControl]="_emailFormControl" [errorStateMatcher]="_matcher"/>
          <mat-placeholder><mat-icon>person</mat-icon> Email</mat-placeholder>
          <!-- Acá se mostrarán los errores que ocurrió con el Input de Email si el Matcher detectó un error. -->
          <mat-error *ngIf="_emailFormControl.hasError('email') && !_emailFormControl.hasError('required')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="_emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
           <!-- Se crea el campo Input para el password con su respectivo enlace de FormControl y Matcher. -->
          <input matInput type="password" required [formControl]="_passwordFormControl" [errorStateMatcher]="_matcher"/>
          <mat-placeholder><mat-icon>lock</mat-icon> Password</mat-placeholder>
          <!-- Acá se mostrarán los errores que ocurrió con el Input de Password si el Matcher detectó un error. -->
          <mat-error *ngIf="_emailFormControl.hasError('required')">
            Password is <strong>required</strong>
          </mat-error>
        </mat-form-field> 
        <div class="button-row">
          <a mat-button routerLink="">Forgot Password?</a>
          <a mat-button routerLink="">Sign Up</a>
        </div>
        <button mat-raised-button color="primary" class="full-width" (click)="OnLoginUser()" [disabled]="_waitingForRequest">Sign In</button>
      </form>
    </mat-card-content>
  </mat-card>
  <!-- Animación que se ejecuta al iniciar la petición HTTP. -->
  <div class="bottom-div" *ngIf="_waitingForRequest">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>