<!--  Se muestra el título y el mensaje del Dialog -->
<div class="dialog-window">
    <div>
        <span mat-dialog-title>{{ data.title }}</span>
    </div>
    <mat-dialog-content>
        <span>
            <label>
                {{ data.message }}
            </label>
        </span>
    </mat-dialog-content>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" class="full-width" mat-dialog-close>Close</button>
    </mat-dialog-actions>
</div>